<template>
  <div class="abstract">
    <h1>This is an abstract page</h1>
    <div class="abastract-container">
      <person />
      <card />
    </div>
    <div class="abastract-container">
      <func-person />
      <func-card />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Person from "@/components/abstract/Person.vue";
import Card from "@/components/abstract/Card.vue";
import FuncPerson from "@/components/func-abstract/FuncPerson.vue";
import FuncCard from "@/components/func-abstract/FuncCard.vue";

@Component({
  components: {
    Person,
    Card,
    FuncPerson,
    FuncCard,
  },
})
export default class Abstract extends Vue {}
</script>

<style>
.abastract-container {
  display: flex;
  justify-content: space-around;
}
</style>