<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Base, { Property } from "./FuncBase.vue";

@Component
export default class FuncCard extends Base {
  protected title = "Widokówka";
  protected subtitle = "z Austrii";

  protected axiosMethod = () => {
    return new Promise<Property[]>((resolve) => {
      setTimeout(() => {
        resolve([
          {
            key: 1,
            text: "Wspaniała pogoda",
          },
          {
            key: 2,
            text: "Piękny krajobraz",
          },
        ]);
      }, 2500);
    });
  };

  protected getImg() {
    return this.$createElement("img", {
      attrs: {
        src:
          "https://d3dqioy2sca31t.cloudfront.net/Projects/cms/production/000/024/113/slideshow/2fb751a9d79c2bef5963210204348238/austria-hallstatt-daytime-mountains.jpg",
      },
    });
  }

  protected getSideHeader() {
    return this.$createElement("div", {}, [
      this.getTitle(),
      this.getSubTitle(),
    ]);
  }

  protected getHeader() {
    return this.$createElement("div", { class: "header-container" }, [
      this.getImg(),
      this.getSideHeader(),
    ]);
  }
}
</script>

<style scoped>
img {
  max-width: 200px;
}
.header-container {
  display: flex;
}
.header-container * {
  margin: 20px;
}
</style>