<template>
  <div>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <ul v-if="props">
      <li v-for="prop in props" :key="prop.key">{{prop.text}}</li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

export interface Property {
  key: string | number;
  text: string;
}

// @ts-ignore
@Component
export default abstract class Base extends Vue {
  protected abstract title: string;
  protected abstract subtitle: string;

  protected abstract axiosMethod: () => Promise<Property[]>;

  private props: Property[] | null = null;
  protected async mounted() {
    this.props = await this.axiosMethod();
  }
}
</script>