<template>
  <div>
    <div class="header-container">
      <img
        src="https://d3dqioy2sca31t.cloudfront.net/Projects/cms/production/000/024/113/slideshow/2fb751a9d79c2bef5963210204348238/austria-hallstatt-daytime-mountains.jpg"
      />
      <div>
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
      </div>
    </div>
    <ul v-if="props">
      <li v-for="prop in props" :key="prop.key">{{prop.text}}</li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Base, { Property } from "./Base.vue";

@Component
export default class Card extends Base {
  protected title = "Widokówka";
  protected subtitle = "z Austrii";

  protected axiosMethod = () => {
    return new Promise<Property[]>((resolve) => {
      setTimeout(() => {
        resolve([
          {
            key: 1,
            text: "Wspaniała pogoda",
          },
          {
            key: 2,
            text: "Piękny krajobraz",
          },
        ]);
      }, 2500);
    });
  };
}
</script>

<style scoped>
img {
  max-width: 200px;
}
.header-container {
  display: flex;
}
.header-container * {
  margin: 20px;
}
</style>